<header class="wrapper row align-center">
  <div class="wrapper-left">
    <img
      src="assets/images/icons/logo.png"
      alt="GreenHub"
      class="logo pointer"
    />
  </div>
  <div class="wrapper-search">
    <input type="search" />
    <img
      src="assets/images/icons/search.png"
      alt="search"
      class="icon pointer"
    />
  </div>
  <div class="wrapper-right row">
    <h3 class="pointer">Home</h3>
    <img src="assets/images/icons/cart.png" alt="cart" class="icon pointer" />
    <!-- <img src="assets/images/icons/profile.png" alt="profile" class="icon" /> -->
    <button class="btn-primary">Login</button>
    <button class="btn-secondary ml-15">Sign Up</button>
  </div>
</header>
