<div class="wrapper row">
  <div class="wrapper-left">
    <img src="assets/images/bgs/login.png" />
    <h3 class="primary-text">WELCOME TO <span>GREENHUB</span></h3>
    <p>
      Our eco-friendly digital haven, where sustainable living meets effortless
      shopping!
    </p>
  </div>
  <div class="wrapper-right">
    <form>
      <label>
        <p>Your Email</p>
        <input
          type="email"
          #username
          [(ngModel)]="loginObj.username"
          name="username"
          required
        />
      </label>
      <label>
        <p>Password</p>
        <input
          type="password"
          class="input-password"
          #password
          [(ngModel)]="loginObj.password"
          name="password"
          required
        />
      </label>
      <button type="button" class="btn-login" (click)="onLogin()">Login</button>
    </form>
  </div>
</div>

<!-- [(ngModel)]="loginObj.username"
          name="username"
          required -->
<!-- [(ngModel)]="loginObj.password"
          name="password"
          required -->
<!-- (click)="onLogin() -->
