<div class="wrapper row">
  <div class="wrapper-left">
    <img src="assets/images/bgs/login.png" />
    <h3 class="primary-text">WELCOME TO <span>GREENHUB</span></h3>
    <p>
      Our eco-friendly digital haven, where sustainable living meets effortless
      shopping!
    </p>
  </div>
  <div class="wrapper-right">
    <form>
      <label>
        <p>Your Email</p>
        <input type="text" />
      </label>
      <label>
        <p>Password</p>
        <input type="password" class="input-password" />
      </label>
      <button type="button" class="btn-login">Login</button>
    </form>
  </div>
</div>
