@import "./styles/variables.scss";
@import "primeng/resources/themes/vela-green/theme.css";
@import "primeng/resources/primeng.css";

html,
body,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

html,
body,
app-root {
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.mt-15 {
  margin-top: 15px;
}
.mt-25 {
  margin-top: 25px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-25 {
  margin-bottom: 25px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-25 {
  margin-left: 25px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-25 {
  margin-right: 25px;
}

.wrap {
  flex-wrap: wrap;
}
.pointer {
    cursor: pointer;
}

.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}

.space-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.full-center {
  align-items: center;
  justify-content: center;
}
.hidden {
  display: none;
}
.btn-primary {
  background-color: #61ba7a;
  color: white;
  font-size: 17px;
  padding: 1px 20px;
  border-radius: 20px;
  border: none;
  outline: none;
}
.btn-primary:hover {
  cursor: pointer;
}
.btn-secondary {
  background: none;
  border: none;
  outline: none;
  font-size: 17px;
  color: var(--text-grey);
}
.btn-secondary:hover {
  cursor: pointer;
}
