.wrapper {
    width: 250px;
    img {
        aspect-ratio: 1;
        background-color: grey;
        width: 100%;
        border-radius: 15px;
    }
    .product-info {
        color: var(--primary-green);
    }
}
.wrapper:hover {
    cursor: pointer;
}