<div class="wrapper row">
  <div class="wrapper-left">
    <img src="assets/images/bgs/login.png" />
    <h3 class="primary-text">WELCOME TO <span>GREENHUB</span></h3>
    <p>
      Our eco-friendly digital haven, where sustainable living meets effortless
      shopping!
    </p>
  </div>
  <div class="wrapper-right">
    <form>
      <label>
        <p>First Name</p>
        <input type="text" #first_name />
      </label>
      <label>
        <p>Last Name</p>
        <input type="text" #last_name />
      </label>
      <label>
        <p>Your Email</p>
        <input type="email" #username />
      </label>
      <label>
        <p>Telephone</p>
        <input type="tel" #phone_number />
      </label>
      <label>
        <p>Password</p>
        <input type="password" class="input-password" #password />
      </label>
      <button type="button" class="btn-login">Login</button>
    </form>
  </div>
</div>
