.wrapper {
  overflow-y: hidden;
  overflow-x: hidden;
  .wrapper-left {
    padding-left: 100px;
    h3 {
      font-size: 36px;
      span {
        color: var(--primary-green);
      }
    }
    p {
      width: 40vw;
    }
  }
  .wrapper-right {
    display: flex;
    flex-direction: column;
    transform: translateY(200px);
    overflow-y: hidden;
    margin-left: 50px;
    form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      label {
        display: flex;
        flex-direction: row;
        p {
          font-size: 22px;
          font-weight: 500;
          padding-right: 20px;
        }

        input {
          height: 25px;
          width: 300px;
          border-radius: 30px;
          border: 1px solid black;
          outline: none;
          padding: 2px 20px;
        }
        .input-password {
          transform: translateX(8px);
        }
      }
      .btn-login {
        background-color: #61ba7a;
        color: white;
        font-size: 22px;
        padding: 1px 40px;
        border-radius: 20px;
        border: none;
        outline: none;
        margin-top: 10px;
      }
      .btn-login:hover {
        cursor: pointer;
      }
    }
  }
}
